{% extends 'base.html' %}
{% load static %}

{% block head %}
<title> Register as an absentee voter for {{team.name}} </title>
{% endblock %}

{% block body %}
<div style="background-image:url('{{ team.team_image.url }}');">
    <script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
    <div class="forms voteamerica-embed" data-subscriber="securetheballot" id="absentee" data-tool="absentee"></div>
        <h2 style="font-family:Raleway; font-size: 2vw; text-align: center;"> Complete this form to help {{team.name}} win!</h2>  
    </div>
</div>
{% endblock %}