<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <link
    rel="shortcut icon"
    href="{% static 'logo.png' type='image/x-icon' %}"
  />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <head>
    <meta charset="utf-8" />
    {% block head %} {% endblock %}
  </head>
  <body>
    {% load google_analytics_tags %}
    <div style="display: none;">
      <img src="{% google_analytics %}" width="0" height="0" />
    </div>
    {% include 'nav.html' %} {% block body %} {% endblock %}
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
</html>
