{% extends 'base.html' %}
{% load static %}
{% block head %}
 <title> Campaign </title> 
{% endblock %}

{% block body %}
    <div>
        <img src="{% static 'campaignheaderphoto.jpg' %}" class="header-img" alt="Blank bracket">
    </div>
    <div class="countdown">
        <div class="round">
            <h1>First Round</h1>
        </div>
        <div class="timer">

            <h1> Time Left: {{ deadline|timeuntil }}</h1>

            <!-- {{ team.name }} -- {{ team.vote_count }} -->
        </div>
    </div>
    <div class="team-selection">
        Pick your team
        <div class="team-pictures">
            {% for team in teams %}
            <div class="team-campaign">
                <div class="team-name-campaign">Team {{ team.name }} </div>
                <a href="/team/{{team.name}}"><img src="/static/{{team.name}}.jpg" class="team-img-campaign" alt="A picture of {{team.name}}"></a>
            </div>
            <!-- <div class = "team-choice">{{ team.name }}</div> -->
            {% endfor %}
        </div>
    </div>
{% endblock %}