<html>
    <head>

    </head>
    <body>
        <script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
        <div class="voteamerica-embed" data-subscriber="securetheballot" data-tool="register"></div>

        <script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
        <div class="voteamerica-embed" data-subscriber="securetheballot" data-tool="absentee"></div>

        <script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
        <div class="voteamerica-embed" data-subscriber="securetheballot" data-tool="verify"></div>
    </body>
</html>