{% extends 'base.html' %}
{% load static %}

{% block head %}
 <title> {{ team1 }} vs. {{ team2 }} </title> 
{% endblock %}

{% block body %}
    <div class="countdown">
        <div class="round">
            <h1>First Round</h1>
        </div>
        <div class="timer">

            <h1> Time Left: {{ deadline|timeuntil }}</h1>

            <!-- {{ team.name }} -- {{ team.vote_count }} -->
        </div>
    </div>

    <div class="challenge">
        <div class="team">
            <a class="team-link" href="/team/{{ team1 }}"></a>
            <div class="team-name">Team {{ team1 }} </div>
            <img src="{{ team1.team_image.url }}" class="team-img" alt="team">
            <div class="votes">{{ team1.vote_count }} </div>
        </div>
        <div class="divider">

        </div>
        <div class="team">
            <a class="team-link" href="/team/{{ team2 }}"></a>
            <div class="team-name">Team {{ team2 }} </div>
            <img src="{{ team2.team_image.url }}" class="team-img" alt="team">
            <div class="votes">{{ team2.vote_count }}</div>
        </div>
    </div>
{% endblock %}