{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">

<nav class="navbar">
    <div class="nav-item" style="width: 80%;">
        <div class="nav-logo">
            <a href="/" style="font-family: Poppins Bold;">Secure the Bracket</a>
        </div>
    </div>
    <div class="nav-links">
        <div class="nav-item"><a href="/teamslist" style="font-family: Poppins Bold;">Teams</a></div>
        <div class="dropdown">
            <button class="dropbtn" style="font-family: Poppins Bold;">Campaign</button>
            <div class="dropdown-content">
                {% for campaign in campaigns %}
                    <a href= "/campaign/{{campaign.slug}}" style="font-family: Raleway;">{{campaign.name}}</a>
                {% endfor %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="nav-item"><a href="/logout" style="font-family: Poppins Bold;">Logout</a></div>
        {% else %}
            <div class="nav-item"><a href="/login" style="font-family: Poppins Bold;">Login</a></div>
        {% endif %}
    </div>
</nav>