<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% load static %}
<link rel="shortcut icon" href="{% static 'logo.png' type='image/x-icon' %}">

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'teamlist.css' %}" />
    {% include "./nav.html" %}

    <div class="main">

        <div class="team-selection" style="font-family: Poppins Bold; font-size: 3.5vw;">
            Pick your team
            <div class="team-pictures">
                {% for team in teams %}
                <div class="team-campaign">
                    <a href="/team/{{team.name}}">


                        <figure>
                            {% if team.team_image %}
                            <img src="{{ team.team_image.url }}" class="team-img-campaign"
                                alt="A picture of {{team.name}}">
                            <figcaption style="font-family: Poppins Bold;">Team {{ team.name }}</figcaption>
                            {% endif %}
                        </figure>

                        <!-- <div class="team-name-campaign">Team {{ team.name }} </div> -->
                    </a>
                </div>
                <!-- <div class = "team-choice">{{ team.name }}</div> -->
                {% endfor %}
            </div>
        </div>
    </div>


</body>

</html>