{% extends 'base.html' %} {% load static %} {% block title %}
<title> Choose your team </title>
{% endblock title %} {% block content %} {% block body %}
<div>
    <div class="bracket-header" style="font-family: Poppins Bold; font-size: 3.5vw; color: white">
        Pick your team
        <div class="teams-list-row">
            {% for team in teams %}
            <div class="teams-list-column">
                <a href="/team/{{team.name}}">
                    <figure>
                        {% if team.team_image %}
                        <img src="{{ team.team_image.url }}" class="teams-list-img" alt="A picture of {{team.name}}">
                        <figcaption style="font-family: Poppins Bold;">Team {{ team.name }}</figcaption>
                        {% endif %}
                    </figure>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %} {% endblock content %}

</html>