{% extends 'base.html' %}

{% block head %}
<title style="font-family: Poppins Bold;"> {{team.name}}'s Team </title>
{% endblock %}

{% block body %}
<h1 style="text-align: center; color: white; font-family: Poppins Bold; font-size: 4vw;"> {{team.name}} needs your help!</h1>
<h2 style="text-align: center; color: white; font-family: Raleway; font-size: 2vw;"> Register to vote to help {{team.name}} win!</h2>

<div class="middle">
    <div class="action" onclick="toggleVisibility('register')" style="font-family: Poppins Bold">
        Register to Vote
    </div>
    <div class="action" onclick="toggleVisibility('absentee')" style="font-family: Poppins Bold">
        Request Absentee Ballot
    </div>

    <div class="action" onclick="toggleVisibility('verify')" style="font-family: Poppins Bold">
        Check Registration
    </div>
</div>

<script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
<div class="forms voteamerica-embed hideDiv " data-subscriber="securetheballot" id="register" data-tool="register"></div>

<script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
<div class="forms voteamerica-embed hideDiv " data-subscriber="securetheballot" id="absentee" data-tool="absentee"></div>

<script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
<div class="forms voteamerica-embed hideDiv forms" data-subscriber="securetheballot" id="verify" data-tool="verify"></div>

<div class="countdown">
    <img src="{{ team.team_image.url }}" class="round" style="width: 50%; opacity: 30%" alt="A picture of {{team.name}}">
</div>

<script>
    var shown = null
    function toggleVisibility(name) {
        if (shown) {
            $(shown).toggleClass('hideDiv')
        }

        name = document.getElementById(name)
        $(name).toggleClass('hideDiv')
        shown = name;
    }
</script>
{% endblock %}