{% extends 'base.html' %}

{% block head %}
<title> {{team.name}}'s Team </title>
{% endblock %}

{% block body %}
{% include "bracket.html" %}
<div class="countdown">
    <div class="round">
        <h1 style="font-family:monospace;">First Round</h1>
    </div>
    <div class="timer">
        <h1 style="font-family:monospace;"> Time Left: {{ deadline|timeuntil }}</h1>
    </div>
</div>

<h1 style="text-align: center; color: white; font-family:Cambria; font-size: 4vw;"> {{team.name}} needs your help!</h1>
<h2 style="text-align: center; color: white; font-family:Cambria; font-size: 2vw;"> Click this button to help {{team.name}} win!</h2>

<div class="middle">
    <a class="action" href="/register/{{team.slug}}" style="font-family: Georgia ">
        Register to Vote
    </a>
</div>

<div class="countdown">
    <img src="{{ team.team_image.url }}" class="round" style="width: 50%; opacity: 30%" alt="A picture of {{team.name}}">
</div>
{% endblock %}